<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pieceOfWork">
            <h2><span>Piece Of Work</span> {{ pieceOfWork.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ pieceOfWork.title }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ pieceOfWork.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/piece-of-work', pieceOfWork.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
